{% extends "AppTienda/padre.html" %}

{% load static %}

{% block title %}
<h1 class ="mb-5"> VENDEDORES </h1>
{% endblock %}


{% block content %}
<h3> ___________________________________________________________________________________________________________________</h3>
<form action="" method="POST">{% csrf_token %}
    <table>
        {{ formulario.as_table }} <!-- Acá debemos usar la clave del diccionario del contex del GET -->
        
    </table>

    <input type="submit" , value="Ingresar">
</form>
{% endblock %}
